.btn {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: var(--color-white);
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.btn:hover {
  color: var(--color-light-white);
  background-color: var(--color-tomato);
}

.btn:active {
  transform: scale(0.95);
}

.btn--large {
  width: 50%;
  color: var(--color-white);
  background-color: var(--color-tomato);
  transition: all 0.2s;
}
.btn--large:hover {
  background-color: var(--color-white);
  color: var(--color-tomato);
}

.btn--primary {
  color: var(--color-tomato);
}
.btn--operator {
  color: var(--color-orange);
}
