.app {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      var(--color-pink-transparent),
      var(--color-purple-transparent)
    ),
    url(https://images.unsplash.com/photo-1585224907690-cbaf12e38471?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1925&q=80);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
