*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: inherit;
}

:root {
  --color-white: #ffffff;
  --color-light-white: #eee;

  --color-tomato: #d40640;
  --color-purple-transparent: rgba(88, 24, 69, 0.9);
  --color-pink-transparent: rgba(216, 14, 91, 0.9);

  --color-orange: #ff3c00;

  --color-light-black: #222;
  --color-black: #000;

  --shadow: rgba(0, 0, 0, 0.4);
}
